.category{
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0,2);
}
.category img {
    width: 350px;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;

}
.category a {

    text-decoration: none;
    color:rgb(35,35,35);
}
.category h2,
.category p {
padding: 5px;
margin-left: 15px;

}
.category p {
font-size: 12px;
font-weight: bold;
color: rgb(9,132,209);
    
}

.category_container{
position: relative;
margin-top: -10%;
display: grid;
grid-template-columns: repeat(4,1fr);
place-items: center;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .category_container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
     
      display:grid ;
      overflow-y: hidden;
      overflow-x: auto;
      padding: 10px;
     
    }
  
     .category {
      width: auto; /* Fixed width: 45% of the viewport width */
       height: auto; /*Adjusts height based on content*/
    } 

    
  
    .category img {
      height: 30vh; /* Fixed height: 30% of the viewport height */
      object-fit:contain; /* Ensures the image fits the area */
     
    }
  
    .category h2 {
      font-size: 1rem; /* Scaled down for small screens */
    }
  
    .category p {
      font-size: 0.875rem; /* Scaled down text */
    }
  }